<?xml version="1.0" encoding="UTF-8"?>
    <Configuration status="WARN">
        <Properties>
            <Property name="LOG_PATTERN">
                %d{yyyy-MM-dd HH:mm:ss.SSS} %5p {$hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
            </Property>
        </Properties>
        <Appenders>
            <Console name="CONSOLE" target="SYSTEM_OUT" follow="true">
                <PatternLayout pattern="${LOG_PATTERN}"/>
            </Console>
            <File name="SearchFile" fileName="logs/search.log" >
                <PatternLayout pattern="${LOG_PATTERN}"/>
            </File>
            <File name="ExceptionsAndErrorsFile" fileName="logs/exceptions_and_errors.log" >
                <PatternLayout pattern="${LOG_PATTERN}"/>
            </File>
        </Appenders>
    <Loggers>
    <Root level="info">
        <AppenderRef ref="CONSOLE" />
        <AppenderRef ref="SearchFile" level="info"/>
        <AppenderRef ref="ExceptionsAndErrorsFile" level="warn"/>
    </Root>
    </Loggers>
</Configuration>


